.open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}

.close {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.drawerOpen {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}

.drawerClose {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1023px) {
  .mobileTransition {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  }
}
