<form class="mt-20 w-48  ml-4 float-left">
  <div>
    <input class="inputBox" type="text" name="name" placeholder="Name" [(ngModel)]="name">

    <input class="inputBox mt-4"  type="text" name="category" placeholder="Category" [(ngModel)]="category">

    <input class="inputBox mt-4"  type="text" name="description" placeholder="Description" [(ngModel)]="description">

    <input class="inputBox mt-4"  type="number" name="price" placeholder="Price" [(ngModel)]="price">
  </div>

  <button type="button" class="sideBarButton"
  (click)="createProduct(name, category, description, price);">Create Product</button>
</form>

<form class="mt-20 w-48 mr-4 float-right">
  <div>
    <input class="inputBox" type="text" name="id" placeholder="Id" [(ngModel)]="idUpdate">

    <input class="inputBox  mt-4" type="text" name="name" placeholder="Name" [(ngModel)]="nameUpdate">

    <input class="inputBox mt-4"  type="text" name="category" placeholder="Category" [(ngModel)]="categoryUpdate">

    <input class="inputBox mt-4"  type="text" name="description" placeholder="Description" [(ngModel)]="descriptionUpdate">

    <input class="inputBox mt-4"  type="number" name="price" placeholder="Price" [(ngModel)]="priceUpdate">
  </div>

  <button type="button" class="sideBarButton"
  (click)="updateProduct(nameUpdate, categoryUpdate, descriptionUpdate, priceUpdate);">Update Product</button>
</form>

<table class="mb-20 mt-20">
  <thead>
    <tr class="bg-indigo-lighter">
      <th class="w-2/12">ID</th>
      <th class="w-2/12">Name</th>
      <th class="w-2/12">Category</th>
      <th class="w-2/12">Description</th>
      <th class="w-2/12">Price</th>
      <th class="w-2/12"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let product of products | async">
      <td>product id: {{ product.id }}</td>
      <td class="bg-indigo-lighter p-6">product name: {{ product.name }}</td>
      <td class="p-4">product category: {{ product.category }}</td>
      <td class="bg-indigo-lighter">product description: {{ product.description }}</td>
      <td>product price: {{ product.price }}</td>
      <td>
        <button class="sideBarButton mb-12" (click)="deleteProduct(product.id)">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
