<div class="flex justify-center pt-8 pb-8">
  <h3>SportsStore Admin</h3>
</div>
<div class="flex justify-center">
  <form [formGroup]="form">
    <div class="pt-4">
      <label>Name:</label>
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        class="border-solid border border-gray-600 flex justify-center"
      />
    </div>
    <div class="pt-4">
      <label>Password:</label>
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        class="border-solid border border-gray-600 flex justify-center"
      />
    </div>
    <button
      routerLink="/"
      class="sideBarButton w-2/3"
    >
      Back
    </button>
    <br />
    <button
      (click)="login()"
      [disabled]="!form.valid"
      class="sideBarButton w-2/3"
    >
      Login
    </button>
  </form>
</div>
