<form
  name="createProductForm"
  class="mt-20 w-48  ml-4 float-left"
  [formGroup]="createProductForm"
  (ngSubmit)="submit()"
  >
  <div>
    <input
      class="inputBox"
      formControlName="name"
      type="text"
      placeholder="Name"
      [formControl]="createProductForm.controls.name">

    <input
      class="inputBox mt-4"
      formControlName="category"
      type="text"
      placeholder="Category"
      [formControl]="createProductForm.controls.category">

    <input
      class="inputBox mt-4"
      formControlName="description"
      type="text"
      placeholder="Description"
      [formControl]="createProductForm.controls.description">

    <input
      class="inputBox mt-4"
      formControlName="price"
      type="number"
      placeholder="Price"
      [formControl]="createProductForm.controls.price">
  </div>

  <button
    type="submit"
    [disabled]="createProductForm.invalid"
    class="sideBarButton"
    >
    Create Product
  </button>
</form>

<form
  #update="ngForm"
  name="updateProductForm"
  class="mt-20 w-48 mr-4 float-right"
  [formGroup]="updateProductForm"
  (ngSubmit)="onSubmit(update.value.id)">
  <div>
    <input
      class="inputBox"
      formControlName="id"
      type="text"
      placeholder="Id"
      [formControl]="updateProductForm.controls.id">

    <input
      class="inputBox  mt-4"
      formControlName="name"
      type="text"
      placeholder="Name"
      [formControl]="updateProductForm.controls.name">

    <input
      class="inputBox mt-4"
      formControlName="category"
      type="text"
      placeholder="Category"
      [formControl]="updateProductForm.controls.category">

    <input
      class="inputBox mt-4"
      formControlName="description"
      type="text"
      placeholder="Description"
      [formControl]="updateProductForm.controls.description">

    <input
      class="inputBox mt-4"
      formControlName="price"
      type="number"
      placeholder="Price"
      [formControl]="updateProductForm.controls.price">
  </div>

  <button
    type="submit"
    [disabled]="updateProductForm.invalid"
    class="sideBarButton"
    >
    Update Product
  </button>
</form>

<table class="w-1/4 mx-auto -mb-13 mt-5 pl-2 ">
  <tr *ngFor="let prod of productView | async"
  class="w-1/4 mx-auto -mb-13 mt-5 pl-2 bg-indigo-lighter">
    <td class="p-6">
      product id: {{ prod.id }} <br>
      product name: {{ prod.name }} <br>
      product category: {{ prod.category }} <br>
      product description: {{ prod.description }} <br>
      product price: {{ prod.price }}
    </td>
  </tr>
  <tr>
    <button
      class="sideBarButton mt-6"
      (click)="clear()"
    >
    Clear All
  </button>
  </tr>
</table>

<table class="mb-20 mt-20">
  <thead>
    <tr class="bg-indigo-lighter">
      <th class="w-2/12">ID</th>
      <th class="w-2/12">Name</th>
      <th class="w-2/12">Category</th>
      <th class="w-2/12">Description</th>
      <th class="w-2/12">Price</th>
      <th class="w-2/12"></th>
      <th class="w-2/12"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let product of products | async">
      <td>product id: {{ product.id }}</td>
      <td class="bg-indigo-lighter p-6">product name: {{ product.name }}</td>
      <td class="p-4">product category: {{ product.category }}</td>
      <td class="bg-indigo-lighter p-4">product description: {{ product.description }}</td>
      <td>product price: {{ product.price }}</td>
      <td>
        <button
          class="sideBarButton mb-12"
          (click)="queryProd(product.id)">
          SELECT
        </button>
      </td>
      <td>
        <button
          class="sideBarButton mb-12"
          (click)="deleteProd(product.id)">
          DELETE
        </button>
      </td>
    </tr>
  </tbody>
</table>
