.sideBarButton {
  @apply mt-12;
  @apply flex;
  @apply justify-center;
  @apply px-2;
  @apply py-2;
  @apply bg-blue;
  @apply text-xl;
  @apply leading-5;
  @apply text-red-lighter;
  @apply rounded-md;
  @apply mx-auto;
  @apply cursor-pointer;
  transition: ease-in-out duration-150
}

.sideBarButton:hover {
  @apply text-gray-200;
  @apply bg-red-dark;
}

.sideBarButton:focus {
  @apply outline-none;
  @apply text-gray-200;
  @apply bg-blue;
}

.sideBarButton:disabled {
  @apply outline-none;
  @apply text-gray-300;
  @apply bg-gray-200;
  @apply cursor-not-allowed;
}

.adminLink {
  @apply block;
  @apply px-4;
  @apply py-2;
  @apply text-sm;
  @apply text-center;
  @apply text-blue-dark;
  @apply cursor-pointer;
  transition: ease-in-out duration-150
}

.adminLink:hover {
  @apply bg-gray-100
}

.openModal {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}

.closeModal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.openLinks {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}

.closeLinks {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.drawerOpen {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}

.drawerClose {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1024px) {
  .mobileTransition {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  }
}
